<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="false"
>
    <testsuites>
        <testsuite name="root-fixtures">
            <directory suffix="Test.php">tests/fixtures/resources</directory>
        </testsuite>
    </testsuites>
</phpunit>
